@import 'tailwindcss';
@import 'flowbite/src/themes/default';
@plugin 'flowbite/plugin';
@source '../node_modules/flowbite';

@theme {
    --color-second: #c9ae87;
    --color-hero:rgb(99, 79, 51);
    --color-latest:rgb(180, 143, 90);

}