div.register-wrapper{
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

form.register-form{
    margin: 0 auto;
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    background-color: #F5F5F5;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    
}

form div.inner-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
 
}

form div.inputs-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

}
i{
    /* position: absolute; */
    right: 72%;
    
}

form div.inputs-wrapper input{
    /* flex-grow:1; */
    width: 100%;
    font-size: 16px; 
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    padding: 0.5em;
    box-sizing: border-box;
    border-radius: 0.5em;
    border:none;
}

form div.inputs-wrapper input:focus{
    outline: none;
    border: 1px solid brown;
    

}


form div.inputs-wrapper label{
    
    display: block;
    max-width: 100%;
    align-self: start;
    font-size: 1.2em;
    color: brown
}

form div.inputs-wrapper label:hover{
    cursor: pointer;
}

h2.register-title{
    padding: 1em;
    padding-top: 0;
    font-size: 2em;
    color: #333;
    text-align: center;
    box-sizing: border-box; 
}

.button-wrapper{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button.register-btn{
    width: 100%;
    padding: 0.5em 3em ;
    border-radius: 2em;
    margin-bottom: 1em;
    background: rgb(180, 143, 90);
    transition: transform  0.3s ease;
    cursor: pointer;
}
button.register-btn:hover{
    transform: scale(1.05);

   
}

button.register-btn:disabled{
    cursor: not-allowed;
    background:grey
}

.registred-already{
    align-self: center;
}

div a.redirect{
    margin-left: 0.5em;
    text-decoration: none;
    
}

div a.redirect:hover{
    text-decoration: underline;
    color: brown;
    font-weight: bold
}

i{
    color: black;
    padding-left: 0.2em;
    font-size: 1rem
}